#!/usr/bin/env ruby

compile '/index.html.erb' do
  filter :erb
  layout '/default.*'
  write '/index.html'
end

compile '/posts/*.md' do
  y, m, d, slug = /([0-9]+)\-([0-9]+)\-([0-9]+)\-([^\/]+)/.match(item.identifier).captures
  filter :kramdown
  layout '/post.*'
  write "/#{y}/#{m}/#{slug.split('.').first}.html"
end

compile '/**/*.html' do
  layout '/default.*'
  write item.identifier.without_ext + '/index.html'
end

compile '/**/*.html.erb' do
  filter :erb
  layout '/default.*'
  write ext: 'html'
end

compile '/**/*.md' do
  filter :kramdown
  layout '/default.*'
  write ext: 'html'
end

compile '/**/*.scss' do
  filter :sass, syntax: :scss
  write @item.identifier.without_ext + '.css'
end

compile '/**/*' do
  write item.identifier.to_s
end

layout '/**/*', :erb
