#!/usr/bin/env ruby

preprocess do
  tags = @items.map { |i| i[:tags] }.flatten.uniq.compact
  tags.each { |tag| @items.create('', { tag: tag }, "/tags/#{tag}") }

  years = @items.map { |i| i[:created_at]&.year }.flatten.uniq.compact
  years.each { |year| @items.create('', { year: year }, "/years/#{year}") }
end

compile '/tags/*' do
  layout '/tags.*'
  filter :relativize_paths, type: :html5
end

route '/tags/*' do
  '/tags/' + item.identifier.to_s.split('/')[-1] + '/index.html'
end

compile '/years/*' do
  layout '/years.*'
  filter :relativize_paths, type: :html5
  write '/' + item.identifier.to_s.split('/')[-1] + '/index.html'
end

compile '/index.html.erb' do
  filter :erb
  layout '/default.*'
  filter :relativize_paths, type: :html5
  write '/index.html'
end

ignore '/unpublished/*'

compile '/posts/*.md' do
  y, m, d, slug = /([0-9]+)\-([0-9]+)\-([0-9]+)\-([^\/]+)/.match(item.identifier).captures
  filter :erb
  filter :kramdown, syntax_highlighter: :rouge, syntax_highlighter_opts: { span: { line_numbers: false }, block: { line_numbers: true }}
  filter :colorize_syntax, default_colorizer: :rouge
  layout '/post.*'
  filter :relativize_paths, type: :html5
  write "/#{y}/#{m}/#{slug.split('.').first}.html"
end

compile '/**/*.html' do
  layout '/default.*'
  filter :relativize_paths, type: :html5
  write item.identifier.without_ext + '/index.html'
end

compile '/**/*.html.erb' do
  filter :erb
  layout '/default.*'
  filter :relativize_paths, type: :html5
  write ext: 'html'
end

compile '/**/*.md' do
  filter :erb
  filter :kramdown
  layout '/default.*'
  filter :relativize_paths, type: :html5
  write ext: 'html'
end


# Assets

compile '/**/*.scss' do
  filter :relativize_paths, type: :css
  filter :sass, syntax: :scss
  write @item.identifier.without_ext + '.css'
end

# Wildcards

compile '/**/*' do
  write item.identifier.to_s
end

layout '/**/*', :erb
