/* RGB */
$color1: #000;
$color2: #444;
$color3: #777;
$color4: #999;


* {
  font-family: Didot, serif;
}

body {
  color: #222;
  font-size: 18px;
}

.text {
  color: $color2;
  line-height: 2em;
}

.pure-img-responsive {
  max-width: 100%;
  height: auto;
}

#menu {
  padding-top: 10px;
  font-size: 1.5rem;
  text-align: center;
}


/*
This is the parent `<div>` that contains the menu and the content area.
*/
#layout {
  position: relative;
  left: 0;
  padding-left: 0;
}

/*
The content `<div>` is where all your content goes.
*/
.content {
  margin: 0 auto;
  padding: 0 2em;
  max-width: 800px;
  margin-bottom: 50px;
  line-height: 1.8em;
}

.header {
 margin: 0;
 color: #333;
 text-align: center;
 padding: 2.5em 2em 0;
 border-bottom: 1px solid #eee;
}

.header h1 {
  margin: 0.2em 0;
  font-size: 4em;
  font-weight: 300;
  color: $color1;
}
.title {
  font-size: 2rem;
  text-align: center;
}

/* Post (Index) */

.post {
  border-bottom: 1px solid #eee;
  padding: 3rem 0;
}

.post-title {
  font-size: 2rem;
}

.post a {
  color: $color2;
  font-weight: 300;
  text-decoration: none;
}

aside {
  font-style: italic;
  color: $color3;
}

.read-more {
  font-style: italic;
  color: $color2 !important;
  font-size: 1.2rem;
}


/* -- Responsive Styles (Media Queries) ------------------------------------- */

/*
Hides the menu at `48em`, but modify this based on your app's needs.
*/
@media (min-width: 48em) {

  #layout {
    padding-left: 5%; /* left col width "#menu" */
    padding-right: 5%; /* left col width "#menu" */
  }
}

@media only screen and (max-width: 768px) {
  b {
    font-size: 20px;
  }
}

@media only screen and (max-width: 320px) {
  b {
    font-size: 10px;
  }
}
