---
title: Years
---

<h1>Posts by year</h1>

<% all_years.each do |year, count| %>
  <% year_page = @items.find { |i| i.identifier == "/years/#{year}" } %>
  <h2><%= link_to(year.to_s, year_page) %> (<%= count %> post<%= 's' if count > 1 %>)
  </h2>
<% end %>
