// Palette
$color1: #000;
$color2: #444;
$color3: #999;
$color4: #BBB;
$color5: #EEE;

$color-hyperlink: #5aafdb;

$font-serif: "Didot", serif;

a {
  color: $color-hyperlink;
  text-decoration: none;
}

h1 { font-weight: 300; }
h2 { font-weight: 300; }

aside { font-family:  $font-serif; }

body {
  color: #222;
  font-family:  $font-serif;
  font-size: 22px;
}

.text {
  font-family:  $font-serif;
  color: $color2;
  line-height: 2em;
}

// Navigation
nav {
  padding: 1em 0;
  color: $color2;
  border-bottom: 1px solid $color5;
  a {
    font-family:  $font-serif;
    font-size: 95%;
    color: $color1;
  }

  .contact {
    float: right;
    span {
      margin: 2px;
    }
  }
}

// Layout
#layout {
  position: relative;
  left: 0;
  padding-left: 0;
}

// Main content
.content {
  margin: 0 auto;
  padding: 0 1em;
  max-width: 800px;
  margin-bottom: 50px;
  line-height: 1.8em;
  h1 { text-align: center; }
}

.header {
  margin: 0;
  color: #333;
  text-align: center;
  padding: 2.5em 2em 0;
  // background-image: linear-gradient(to left top, #bfcbe1, #b4c5e2, #aabee4, #9fb8e5, #94b1e6, #8aa9e4, #7fa2e2, #759ae0, #688fda, #5b84d4, #4e7ace, #406fc8);

  // Site title
  h1 {
    margin: 0.2em 0;
    font-weight: 300;
    font-size: 3em;
  }
  a {
    color: $color1;
  }
}

// Post (Index)
.post-index {
  border-bottom: 1px solid $color5;
  padding: 1.5em 0;
  .post-tags {
    display: inline-block;
    margin: 10px 0;
  }
  h2 a {
    font-family:  $font-serif;
    color: $color2;
    font-weight: 300;
  }
  aside {
    color: $color3;
  }
  .read-more {
    font-size: 90%;
  }
  .tags {
    font-family:  $font-serif;
    color: $color3;
  }
  .post-meta {
    text-align: right;
    font-size: 90%;
  }
  .post-footer {
  }
}

// Post (Show)
.post-show {
  h1 {
    text-align: center;
    color: $color2;
    font-weight: 300;
  }
  aside {
    font-style: italic;
    color: $color3;
  }
  .post-footer {
    padding: 40px 0;
  }
}

article {
  img {
    width: 100%;
  }
}

.button-xsmall {
    font-size: 70%;
}

.image-box {
  text-align: center;
  .image-caption {
    color: $color3;
    font-style: italic;
    text-align: center;
    font-size: 70%;
  }
}

// Syntax highlighting
.highlight {
  padding: 0 10px;
  font-size: 80%;
}

// Responsive media queries
@media (min-width: 48em) {
  #layout {
    padding-left: 5%; /* left col width "#menu" */
    padding-right: 5%; /* left col width "#menu" */
  }
}
@media(max-width: 1000px) {
  * { font-size: 115% }
}
