// Palette
$color1: #000;
$color2: #444;
$color3: #777;
$color4: #999;

// Globals
html { font-size: calc(1em + 2vw);  }

body {
  // color: #222;
  font-family:  Didot, serif;
}

.text {
  // color: $color2;
  line-height: 2em;
}

// Navigation
nav {
  padding-top: 10px;
  // color: $color2;
  font-style: italic;
  a {
    font-size: 1.1em;
    // color: $color1;
    text-decoration: none;
  }
}

.contact {
  margin: 10px;
  float: right;
  span {
    margin: 6px;
  }
}

// Layout
#layout {
  position: relative;
  left: 0;
  padding-left: 0;
}

// Main content
.content {
  margin: 0 auto;
  padding: 0 2em;
  max-width: 800px;
  margin-bottom: 50px;
  line-height: 1.8em;
}

.header {
  margin: 0;
  // color: #333;
  text-align: center;
  padding: 2.5em 2em 0;
  border-bottom: 1px solid #eee;
  // background-image: linear-gradient(to left top, #bfcbe1, #b4c5e2, #aabee4, #9fb8e5, #94b1e6, #8aa9e4, #7fa2e2, #759ae0, #688fda, #5b84d4, #4e7ace, #406fc8);

  // Site title
  h1 {
    margin: 0.2em 0;
    font-weight: 300;
    font-size: 3em;
    text-decoration: none;
  }
  a {
    // color: $color1;
    text-decoration: none;
  }
}

// Post (Index)
.post-index {
  border-bottom: 1px solid #eee;
  padding: 3rem 0;
  a {
    // color: $color2;
    font-weight: 300;
    text-decoration: none;
  }
  aside {
    font-style: italic;
    // color: $color3;
  }
  .read-more {
    font-style: italic;
    // color: $color2 !important;
  }
}

.post-show {
  h1 {
    text-align: center;
    // color: $color2;
    font-weight: 300;
  }
  aside {
    text-align: center;
    font-style: italic;
    // color: $color3;
  }
}

.highlight {
  padding: 20px;
}

.pure-img-responsive {
  max-width: 100%;
  height: auto;
}

// Responsive media queries
@media (min-width: 48em) {
  #layout {
    padding-left: 5%; /* left col width "#menu" */
    padding-right: 5%; /* left col width "#menu" */
  }
}
@media screen and (min-width: 800px) {
  div {
   font-size: 22px;
 }
}
