// Palette
$color1: #000;
$color2: #444;
$color3: #777;
$color4: #999;

$color-hyperlink: #5aafdb;

// Globals
html { font-size: calc(1em + 0.5vw);  }

a {
  color: $color-hyperlink;
  text-decoration: none;
}

body {
  color: #222;
  font-family:  Didot, serif;
}

.text {
  font-family:  Didot, serif;
  color: $color2;
  line-height: 2em;
}

// Navigation
nav {
  padding: 1em 1em;
  color: $color2;
  font-style: italic;
  a {
    font-size: 1.1em;
    color: $color1;
  }

  .contact {
    float: right;
    span {
      margin: 2px;
    }
  }
}

// Layout
#layout {
  position: relative;
  left: 0;
  padding-left: 0;
}

// Main content
.content {
  margin: 0 auto;
  padding: 0 1em;
  max-width: 800px;
  margin-bottom: 50px;
  line-height: 1.8em;
}

.header {
  margin: 0;
  color: #333;
  text-align: center;
  padding: 2.5em 2em 0;
  border-bottom: 1px solid #eee;
  // background-image: linear-gradient(to left top, #bfcbe1, #b4c5e2, #aabee4, #9fb8e5, #94b1e6, #8aa9e4, #7fa2e2, #759ae0, #688fda, #5b84d4, #4e7ace, #406fc8);

  // Site title
  h1 {
    margin: 0.2em 0;
    font-weight: 300;
    font-size: 3em;
  }
  a {
    color: $color1;
  }
}

// Post (Index)
.post-index {
  border-bottom: 1px solid #eee;
  padding: 3rem 0;
  font-family:  Didot, serif;
  h2 a {
    color: $color2;
    font-weight: 300;
  }
  aside {
    font-style: italic;
    color: $color3;
  }
  .read-more {
    font-style: italic;
  }
  .tags {
    color: $color3;
  }
}

.post-show {
  h1 {
    text-align: center;
    color: $color2;
    font-weight: 300;
  }
  aside {
    text-align: center;
    font-style: italic;
    color: $color3;
  }
}

.pure-img-responsive {
  max-width: 100%;
  height: auto;
}

// Syntax highlighting
.highlight {
  padding: 0 10px;
  font-size: 18px;
}

// Responsive media queries
@media (min-width: 48em) {
  #layout {
    padding-left: 5%; /* left col width "#menu" */
    padding-right: 5%; /* left col width "#menu" */
  }
}
@media screen and (min-width: 800px) {
  div {
   font-size: 22px;
 }
}
