a {
  color: #5aafdb;
  text-decoration: none; }

h1 {
  font-weight: 300; }

h2 {
  font-weight: 300; }

aside {
  font-family: "Didot", serif; }

body {
  color: #222;
  font-family: "Didot", serif;
  font-size: 22px; }

.text {
  font-family: "Didot", serif;
  color: #444;
  line-height: 2em; }

nav {
  padding: 1em 0;
  color: #444;
  border-bottom: 1px solid #999;
  margin-bottom: 1em; }
  nav a {
    font-family: "Didot", serif;
    font-size: 95%;
    color: #000; }
  nav .contact {
    float: right; }
    nav .contact img {
      width: 1em;
      height: 1em; }
    nav .contact span {
      margin: 2px; }

#layout {
  position: relative;
  left: 0;
  padding-left: 0; }

.content {
  margin: 0 auto;
  padding: 0 1em;
  max-width: 800px;
  margin-bottom: 50px;
  line-height: 1.8em; }
  .content h1 {
    text-align: center; }

.header {
  margin: 0;
  color: #333;
  text-align: center;
  padding: 2.5em 2em 0; }
  .header h1 {
    margin: 0.2em 0;
    font-weight: 300;
    font-size: 300%; }
  .header a {
    color: #000; }

.post-index {
  border-bottom: 1px solid #999;
  padding: 1.5em 0; }
  .post-index .post-tags {
    display: inline-block;
    margin: 10px 0; }
  .post-index h2 a {
    font-family: "Didot", serif;
    color: #444;
    font-weight: 300; }
  .post-index aside {
    color: #999; }
  .post-index .read-more {
    font-size: 90%; }
  .post-index .tags {
    font-family: "Didot", serif;
    color: #999; }
  .post-index .post-meta {
    text-align: right;
    font-size: 90%; }

.post-show h1 {
  text-align: center;
  color: #444;
  font-weight: 300; }
.post-show aside {
  font-style: italic;
  color: #999; }
.post-show .post-footer {
  padding: 40px 0; }

article img {
  width: 100%; }

.button-xsmall {
  font-size: 70%; }

.image-box {
  text-align: center; }
  .image-box .image-caption {
    color: #999;
    font-style: italic;
    text-align: center;
    font-size: 70%; }

.highlight {
  padding: 0 10px;
  font-size: 80%; }

@media (max-width: 1000px) {
  .content {
    margin: 0.5em;
    max-width: 100%; }

  * {
    font-size: 110%; }

  h2 {
    font-size: 180%;
    line-height: 1.5em; }

  nav a {
    font-size: 120%; } }
