---
title: Tags
---

<% render '/default.*' do %>
  <h1>Posts tagged "<%= @item[:tag] %>"</h1>

  <% render('/posts_index.*', posts: items_with_tag(@item[:tag]), title: @item[:tag], show_tags: false) do %>
    <%= yield %>
  <% end %>
<% end %>
