---
title: Posts by year
---

<% render '/default.*' do %>
  <h1>Posted in <%= @item[:year] %></h1>

  <% render('/posts_index.*', posts: posts_in_year(@item[:year]), title: @item[:year], show_tags: true) do %>
    <%= yield %>
  <% end %>
<% end %>
